<p id="notice"><%= notice %></p>

<h1>Heebies</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Age</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @heebies.each do |heeby| %>
      <tr>
        <td><%= heeby.name %></td>
        <td><%= heeby.age %></td>
        <td><%= link_to 'Show', heeby %></td>
        <td><%= link_to 'Edit', edit_heeby_path(heeby) %></td>
        <td><%= link_to 'Destroy', heeby, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Heeby', new_heeby_path %>
